<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.AntiCSRFModule" version="8.1.0.3" targetFramework="net45" />
  <package id="Sitecore.AntiCSRFModule.API" version="8.1.0.3" targetFramework="net45" />
  <package id="Sitecore.Buckets" version="8.1.0.3" targetFramework="net45" />
  <package id="Sitecore.Buckets.API" version="8.1.0.3" targetFramework="net45" />
  <package id="Sitecore.CMS.Core" version="8.1.0.5" targetFramework="net45" />
  <package id="Sitecore.CMS.Core.API" version="8.1.0.5" targetFramework="net45" />
  <package id="Sitecore.ItemWebAPI" version="8.1.0.5" targetFramework="net45" />
  <package id="Sitecore.ItemWebAPI.API" version="8.1.0.5" targetFramework="net45" />
  <package id="Sitecore.Mvc" version="8.1.0.8" targetFramework="net45" />
  <package id="Sitecore.Mvc.API" version="8.1.0.10" targetFramework="net45" />
  <package id="Sitecore.Speak" version="8.2.0.17" targetFramework="net45" />
  <package id="Sitecore.Speak.API" version="8.2.0.17" targetFramework="net45" />
</packages>