button[data-sc-id="ChangeButton"] {
    margin-top: 23px;
}

.sc-dialogHeader { 
    background: white !important;
    box-shadow: #fbfbfb 0 1px 0 0 inset, #e1dfdf 0 1px 1px 0;
    border: none !important;
    height: 90px !important;
}

.sc-dialogHeader .sc-dialogHeader-title {
    padding-top: 0 !important;
    margin-top: -10px;
    float: left;
}

.sc-text[data-sc-id="SelectText"] {
    color: #131313;
    font-size: 16px;
    line-height: 100%;
}

iframe[data-sc-id="Frame"] {
    margin-top: 13px;
}