@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
body.sc {
  font-family: 'Source Sans Pro';
  /* Text Control */
  /* Label */
  /* Button Control */
  /* Back Button Control */
  /* DropDownButton Control */
  /* ToggleButton Control */
  /* Filter Control */
  /* Textbox Control */
  /* Combobox Control */
  /* Textarea Control */
  /* List Control */
  /* ButtonTextBox Control */
  /* MessageBar Control */
  /* SmartPanel Control */
  /* Hyperlink Button Control */
  /* HyperlinkButtonGroup Control */
  /* Advanced Expander Control */
  /* Action Control */
  /* Global Header Control */
  /* Breadcrumb Control */
  /* Navigation Menu Control */
  /* Account Information Control */
  /* Menu Control */
  /* Popover Control */
  /* Dialog Window */
  /* Uploader Control */
  /* Uploader info */
  /* Tab Control */
  /* Global Logo */
  /* Progress bar */
  /* Searchable Droplist */
}
body.sc .sc-text {
  color: #666666;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
}
body.sc .sc-label {
  color: #666666;
  font-weight: 400;
}
body.sc .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 30px;
  padding: 0 12px;
}
body.sc .btn.noText {
  padding: 0 7px;
}
body.sc .btn.btn-primary {
  border: 1px solid #1b596c;
  background: linear-gradient(to bottom, #008995 0, #03919e 100%);
  color: #fff;
  box-shadow: #03919e 0 1px 0 0 inset, #164a5a 0 1px 0 0;
  text-shadow: 0 1px 0 #047680;
}
body.sc .btn.btn-primary:hover {
  background: linear-gradient(to bottom, #117181 0, #01909c 100%);
}
body.sc .btn.btn-primary:active,
body.sc .btn.btn-primary.up {
  background: linear-gradient(to bottom, #087b86 0, #116f7f 100%);
  box-shadow: #1b596c 0 1px 0 0 inset, #1b596c 0 1px 0 0;
}
body.sc .btn.btn-primary:disabled {
  background: #77989b;
  box-shadow: none;
  border: 1px solid #355e69;
}
body.sc .btn.btn-default,
body.sc .btn.no-text {
  border: 1px solid #c3c3c3;
  background: linear-gradient(to bottom, #f3f3f3 0, #d7d7d7 100%);
  color: #666666;
  box-shadow: #fbfbfb 0 1px 0 0 inset, #e1dfdf 0 1px 1px 0;
  text-shadow: 0 1px 0 #f8f8f8;
}
body.sc .btn.btn-default:hover,
body.sc .btn.no-text:hover {
  background: linear-gradient(to bottom, #f7f7f7 0, #ececec 100%);
}
body.sc .btn.btn-default:active,
body.sc .btn.no-text:active,
body.sc .btn.btn-default.up,
body.sc .btn.no-text.up {
  background: #f7f7f7;
  box-shadow: #e4e4e4 0 1px 0 0 inset;
  border: 1px solid #b6b6b6;
}
body.sc .btn.btn-default:disabled,
body.sc .btn.no-text:disabled {
  background: #eeeeee;
  box-shadow: #f2f2f2 0 1px 0 0 inset;
  border: 1px solid #d3d3d3;
}
body.sc .btn.btn-inverse {
  border: 1px solid #959595;
  background: linear-gradient(to bottom, #b6b5b8 0, #a5a5a5 100%);
  color: #ffffff;
  box-shadow: #c7c6c8 0 1px 0 0 inset, #c8c8c8 0 1px 0 0;
  text-shadow: 0 1px 0 #939394;
}
body.sc .btn.btn-inverse:hover {
  background: linear-gradient(to bottom, #adadad 0, #898989 100%);
}
body.sc .btn.btn-inverse:active,
body.sc .btn.btn-inverse.up {
  background: linear-gradient(to bottom, #a5a5a5 0, #b5b5b7 100%);
  box-shadow: #8f8f8f 0 1px 0 0 inset;
  border: 1px solid #878787;
}
body.sc .btn.btn-inverse:disabled {
  background: #c6c6c6;
  box-shadow: none;
  border: 1px solid #a2a2a2;
}
body.sc .sc-backbutton.btn {
  height: 43px;
}
body.sc .sc-backbutton.btn:before,
body.sc .sc-backbutton.btn:after,
body.sc .sc-backbutton.btn .sc-backbutton-text {
  background-image: url("/sitecore/shell/client/Speak/Assets/img/Speak/BackButton/back_button-new.png");
}
body.sc .sc-backbutton.btn .sc-backbutton-text {
  color: #666666;
  text-shadow: 0 1px 0 #f1f1f1;
  font-size: 13px;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler {
  margin-top: -2px;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron,
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron {
  border: none;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/DropDownButton/arrows.png") no-repeat;
  width: 10px;
  height: 6px;
}
body.sc .sc-dropdownbutton > button.btn-inverse.up .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-default.up .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-primary.up .sc-dropdownbutton-toggler {
  margin-top: -3px;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron {
  background-position: -10px top;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron.up,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron.up {
  background-position: -10px bottom;
}
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron {
  background-position: 0 0;
}
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron.up {
  background-position: 0 -6px;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler {
  margin-top: -2px;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler .sc-togglebutton-chevron,
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler .sc-togglebutton-chevron,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler .sc-togglebutton-chevron {
  border: none;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/DropDownButton/arrows.png") no-repeat;
  width: 10px;
  height: 6px;
}
body.sc .sc-togglebutton.btn-inverse.up .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-default.up .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-primary.up .sc-togglebutton-toggler {
  margin-top: -3px;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler .sc-togglebutton-chevron,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler .sc-togglebutton-chevron {
  background-position: -10px top;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler .sc-togglebutton-chevron.up,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler .sc-togglebutton-chevron.up {
  background-position: -10px bottom;
}
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler .sc-togglebutton-chevron {
  background-position: 0 0;
}
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler .sc-togglebutton-chevron.up {
  background-position: 0 -6px;
}
body.sc .sc-filtercontrol {
  padding: 40px 10px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-bottom: 1px solid #bebebe;
  box-shadow: 0px 1px 0 0 #dedede;
}
body.sc .sc-filtercontrol .sc-filtercontrol-item:hover {
  background: #f0f0f0;
}
body.sc .sc-filtercontrol .sc-filtercontrol-item span {
  margin-left: 5px;
}
body.sc .sc-filtercontrol table {
  background: none;
}
body.sc .sc-filtercontrol table th {
  background: none;
  border: none;
  color: #008e97;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 15px 15px 15px;
}
body.sc .sc-filtercontrol table td {
  border: none;
  padding-top: 5px;
}
body.sc .sc-filtercontrol table td span {
  font-weight: 300;
  font-size: 14px;
}
body.sc .sc-textbox,
body.sc .sc-uploaderInfo-row .form-control,
body.sc .sc-textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f7f7f7;
  box-shadow: inset 0 1px 0 #ebebeb;
  border: 1px solid #c9c9c9;
  border-top: 1px solid #b8b8b8;
  margin: 0;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #555555;
  font-weight: 300;
}
body.sc .sc-textbox:focus,
body.sc .sc-uploaderInfo-row .form-control:focus,
body.sc .sc-textarea:focus {
  background: #f9f9f9;
}
body.sc input.form-control[placeholder],
body.sc input.form-control::-webkit-input-placeholder,
body.sc input.form-control::-moz-placeholder,
body.sc input.form-control:-moz-placeholder,
body.sc input.form-control:-ms-input-placeholder {
  color: #555555;
}
body.sc .sc-combobox {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f7f7f7;
  box-shadow: inset 0 1px 0 #ebebeb;
  border: 1px solid #c9c9c9;
  border-top: 1px solid #b8b8b8;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  color: #555555;
  font-weight: 300;
}
body.sc .sc-textarea {
  height: 70px !important;
  line-height: 20px;
}
body.sc .sc-listcontrol.sc-tilelist .sc-listcontrol-tiles .sc-listcontrol-tile:hover .sc-listcontrol-tile-content {
  background: #f8f8f8;
}
body.sc .sc-listcontrol.sc-tilelist .sc-listcontrol-tiles .sc-listcontrol-tile .sc-listcontrol-tile-content {
  border: 1px solid #008e97;
}
body.sc .sc-listcontrol.sc-detaillist .table.sc-listcontrol-header > thead > tr > th {
  border-bottom: none !important;
  font-size: 16px;
}
body.sc .sc-listcontrol.sc-detaillist .table.sc-listcontrol-header > thead > tr > th.sc-sortable:hover,
body.sc .sc-listcontrol.sc-detaillist .table.sc-listcontrol-header > thead > tr > th.sc-sortable.active {
  opacity: 0.8;
  background-color: #4a505b;
}
body.sc .sc-listcontrol.sc-detaillist .table.sc-listcontrol-header > thead > tr > th:before {
  display: none;
}
body.sc .sc-listcontrol.sc-detaillist .table td {
  background: #ffffff;
  color: #666666;
  border: 1px solid #cacbcd;
}
body.sc .sc-listcontrol.sc-detaillist .table td:first-child {
  border-left: 1px solid #cacbcd !important;
}
body.sc .sc-listcontrol.sc-detaillist .table tr:nth-child(odd) td {
  background: #efefef;
}
body.sc .sc-listcontrol.sc-detaillist .table tr:hover td,
body.sc .sc-listcontrol.sc-detaillist .table tr.active td {
  background: #e0e0e0;
}
body.sc .sc-listcontrol.sc-detaillist .table tr td {
  border-left: none;
  border-top: none;
  padding-left: 15px;
  padding-right: 15px;
}
body.sc .sc-listcontrol.sc-detaillist .table tr td a {
  color: #666666;
  border-bottom: 1px dotted #666666;
}
body.sc .sc-listcontrol.sc-detaillist .table tr td a:hover {
  border: none;
}
body.sc .sc-listcontrol.sc-detaillist .table tbody tr th,
body.sc .sc-listcontrol.sc-detaillist .table thead th {
  background: #4a505b;
  color: #ffffff;
}
body.sc .sc-listcontrol.sc-detaillist .table tbody tr th .sc-table-sortable,
body.sc .sc-listcontrol.sc-detaillist .table thead th .sc-table-sortable {
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
}
body.sc .sc-listcontrol.sc-detaillist .table td,
body.sc .sc-listcontrol.sc-detaillist .table th {
  padding-top: 19px !important;
  padding-bottom: 19px !important;
  font-size: 16px;
}
body.sc .sc-listcontrol.sc-detaillist .sc-listcontrol-header th {
  border-left: 1px solid #cacbcd;
}
body.sc .sc-listcontrol.sc-detaillist .sc-listcontrol-header th:after {
  display: none;
}
body.sc .sc-listcontrol.sc-detaillist .sc-listcontrol-header th:first-child {
  border: none;
}
body.sc .sc-listcontrol.sc-detaillist .sc-listcontrol-header th .sc-listcontrol-sortable {
  border-top-color: #ffffff;
}
body.sc .sc-listcontrol.sc-detaillist .sc-listcontrol-header th .sc-listcontrol-sortable.noDirection,
body.sc .sc-listcontrol.sc-detaillist .sc-listcontrol-header th .sc-listcontrol-sortable.up {
  border-bottom-color: #ffffff;
}
body.sc .sc-listcontrol .clearfix {
  margin-left: -10px;
}
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon {
  background: #fff;
  margin: 10px;
  padding: 10px;
  height: auto !important;
  width: auto !important;
  float: none;
  display: inline-block;
  border: 1px solid #008e97;
}
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon .sc-listcontrol-icon-content {
  box-sizing: initial;
  -webkit-box-sizing: initial;
  padding: 10px;
  border: none;
  background: #ffffff;
  height: auto !important;
}
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon .sc-listcontrol-icon-content .sc-listcontrol-icon-description {
  text-align: left;
  font-size: 14px;
  margin-top: 20px;
}
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon:hover,
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon.active {
  position: relative;
  z-index: 10;
}
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon:hover .sc-iconList-item,
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon.active .sc-iconList-item {
  border: 1px solid #008e97;
}
body.sc .sc-listcontrol.sc-iconlist .sc-listcontrol-icon:hover .sc-iconList-item {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
body.sc .input-group {
  height: 32px;
}
body.sc .input-group .form-control {
  float: none;
  height: 30px;
  border-radius: 4px !important;
}
body.sc .input-group.sc-buttontextbox {
  display: block;
  position: relative;
}
body.sc .input-group.sc-buttontextbox input.form-control {
  border: 1px solid #c9c9c9;
  border-top: 1px solid #b8b8b8;
  box-shadow: inset 0 1px 0 #ebebeb;
  background: #f7f7f7;
  color: #555555;
  font-family: "Source Sans Pro";
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding-left: 15px;
  z-index: 1;
  position: absolute;
}
body.sc .input-group.sc-buttontextbox .input-group-btn {
  z-index: 10;
  width: 30px;
  position: absolute;
  right: 11px;
  height: 32px;
  line-height: 32px;
  margin-right: -2px;
}
body.sc .input-group.sc-buttontextbox .input-group-btn .btn.sc-button {
  height: 31px;
  margin-top: -1px;
}
body.sc .sc-messageBar .alert {
  font-weight: 400;
  background: #f8f8f8;
  padding: 18px 22px 19px 64px;
  font-size: 14px;
  color: #e48539;
  box-shadow: none;
}
body.sc .sc-messageBar .alert .alert-ico-background {
  background: none !important;
  width: 1px;
}
body.sc .sc-messageBar .alert .close {
  font-size: 15px;
  text-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
  margin-top: -8px;
  right: 22px;
  color: #c77534;
}
body.sc .sc-messageBar .alert .close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
body.sc .sc-messageBar .alert a {
  color: #e48539;
}
body.sc .sc-messageBar .alert .icon-chevron {
  border-top: 5px solid #ef6d1f;
}
body.sc .sc-messageBar .alert .icon-chevron.direction-up {
  border-top: none;
  border-bottom: 5px solid #ef6d1f;
}
body.sc .sc-messageBar .alert .sc-messageBar-messageText,
body.sc .sc-messageBar .alert .sc-messageBar-chevron-layout {
  line-height: 26px;
  vertical-align: middle;
}
body.sc .sc-messageBar .alert .alert-ico {
  margin-left: -36px;
  margin-top: -2px;
  background: transparent url("/sitecore/shell/client/Speak/Assets/img/Speak/MessageBar/sc-message-bar-icons-new.png") no-repeat;
  background-position: 0 -52px;
  width: 26px;
  height: 26px;
}
body.sc .sc-messageBar .alert:hover {
  background: #f8f8f8;
}
body.sc .sc-messageBar .alert a {
  font-weight: 400;
}
body.sc .sc-messageBar .alert.alert-error,
body.sc .sc-messageBar .alert.alert-error:hover {
  background: #e87262;
}
body.sc .sc-messageBar .alert.alert-info,
body.sc .sc-messageBar .alert.alert-info:hover {
  background: #abcee6;
  color: #264e6b;
}
body.sc .sc-messageBar .alert.alert-info a,
body.sc .sc-messageBar .alert.alert-info:hover a {
  color: #264e6b;
}
body.sc .sc-messageBar .alert.alert-info .alert-ico {
  background-position: 0 -26px;
}
body.sc .sc-messageBar .alert.alert-info .icon-chevron {
  border-top: 5px solid #264e6b;
}
body.sc .sc-messageBar .alert.alert-info .icon-chevron.direction-up {
  border-top: none;
  border-bottom: 5px solid #264e6b;
}
body.sc .sc-messageBar .alert.alert-info .close {
  color: #6f818d;
}
body.sc .sc-messageBar .alert.alert-error .alert-ico {
  background-position: 0 0;
}
body.sc .sc-messageBar .alert.alert-error .icon-chevron {
  border-top: 5px solid #ffffff;
}
body.sc .sc-messageBar .alert.alert-error .icon-chevron.direction-up {
  border-top: none;
  border-bottom: 5px solid #ffffff;
}
body.sc .sc-messageBar .alert.alert-error .close {
  color: #9e4033;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert {
  padding: 3px 22px 3px 20px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert.alert-ico-background {
  width: 46px !important;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert .sc-messageBar-messageText,
body.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert .sc-messageBar-actionLink {
  font-size: 13px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert {
  border-bottom: 1px solid #eadfd9;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert .alert-ico {
  width: 18px;
  background-position: -26px -60px;
  margin-top: 4px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-error {
  border-bottom: 1px solid #d45e4e;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-error .alert-ico {
  background-position: -26px -8px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-info {
  border-bottom: 1px solid #8fb4ce;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-info .alert-ico {
  background-position: -26px -34px;
}
body.sc .sc-messageBar .sc-messageBar-actionLink {
  line-height: 26px;
}
body.sc .sc-messageBar .sc-messageBar-head.alert {
  border-bottom: 1px solid #eadfd9;
}
body.sc .sc-messageBar .sc-messageBar-head.alert-info {
  border-bottom: 1px solid #8fb4ce;
}
body.sc .sc-messageBar .sc-messageBar-head.alert-error {
  border-bottom: 1px solid #d45e4e;
}
body.sc .sc-ovelaypanel .sc-ovelaypanel-header {
  background: #008e97;
  padding-right: 60px;
}
body.sc .sc-ovelaypanel .sc-ovelaypanel-header span {
  color: #ffffff !important;
}
body.sc .sc-ovelaypanel .sc-ovelaypanel-content {
  bottom: 15px;
}
body.sc .sc-ovelaypanel .sc-ovelaypanel-content img {
  border: 1px solid #008e97;
  padding: 40px;
}
body.sc .sc-ovelaypanel .sc-smartpanel-buttons {
  display: none;
}
body.sc a.sc-ovelaypanel-close,
body.sc a.sc-dialogWindow-close {
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/DialogWindow/close_button_sprite-new.png") no-repeat 0 0;
  width: 9px;
  height: 9px;
  top: 24px;
  right: 24px;
}
body.sc a.sc-ovelaypanel-close:hover,
body.sc a.sc-dialogWindow-close:hover {
  background-position: left bottom;
}
body.sc a.sc-ovelaypanel-close:before,
body.sc a.sc-dialogWindow-close:before {
  content: "";
  width: 0;
  height: 60px;
  border-left: 1px solid #ffffff;
  top: -24px;
  position: absolute;
  left: -24px;
}
body.sc .sc-hyperlinkbutton {
  color: #008e97;
}
body.sc .sc-hyperlinkbutton:hover {
  color: #008e97;
  opacity: .6;
}
body.sc .sc-hyperlinkbutton.icon {
  color: #008e97;
}
body.sc .sc-hyperlinkbutton.icon:hover {
  color: #008e97;
}
body.sc .sc-hyperlinkbutton.icon .sc-icon {
  margin-top: 1px;
}
body.sc .sc-hyperlinkbuttonsgroup {
  font-size: 14px;
}
body.sc .sc-hyperlinkbuttonsgroup a,
body.sc .sc-hyperlinkbuttonsgroup a:hover {
  color: #b1b1b1;
}
body.sc .sc-hyperlinkbuttonsgroup li {
  height: 48px;
}
body.sc .sc-hyperlinkbuttonsgroup li a.sc-hyperlinkbutton {
  padding: 14px 0 14px 20px;
}
body.sc .sc-hyperlinkbuttonsgroup li[sc-selected] {
  background: #505864;
  box-shadow: inset 5px 0 0 0 #008e97;
}
body.sc .sc-hyperlinkbuttonsgroup li[sc-selected] a.sc-hyperlinkbutton {
  box-shadow: 0 0 0 1px #505864;
  color: #dcdee0;
  cursor: default;
}
body.sc .sc-hyperlinkbuttonsgroup li[sc-selected]:hover {
  text-decoration: none;
}
body.sc .sc-expander[data-sc-iscollapsible=False] .sc-advancedExpander-header-actionbar {
  padding-right: 10px !important;
}
body.sc .sc-expander .sc-expander-header a span.sc-expander-header-chevron-glyph,
body.sc .sc-expander.open .sc-expander-header a span.sc-expander-header-chevron-glyph {
  background: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #ffffff;
  border-bottom: 0 solid #ffffff;
}
body.sc .sc-expander .sc-expander-header a span.sc-expander-header-chevron-glyph.sc-advancedExpander2-header-chevron-glyph-open,
body.sc .sc-expander.open .sc-expander-header a span.sc-expander-header-chevron-glyph.sc-advancedExpander2-header-chevron-glyph-open {
  border-bottom: 8px solid #ffffff;
  border-top: 0 solid #ffffff;
}
body.sc .sc-expander .sc-expander-header > table,
body.sc .sc-expander.open .sc-expander-header > table {
  background: none;
}
body.sc .sc-expander .sc-expander-header > table .sc-expander-header-title,
body.sc .sc-expander.open .sc-expander-header > table .sc-expander-header-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}
body.sc .sc-expander .sc-expander-header {
  border-left: none;
  padding-left: 20px;
  line-height: 60px;
  background: #008e97;
}
body.sc .sc-expander .sc-expander-header .btn.btn-default.mainButton {
  border: 1px solid #cacaca;
}
body.sc .sc-expander .sc-expander-header .btn-group > .btn {
  border: 1px solid #cacaca !important;
  height: 32px;
}
body.sc .sc-expander .sc-expander-body {
  border-top: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  background: #ffffff;
  border-bottom: #ffffff;
}
body.sc .sc-expander .sc-expander-body .sc-listcontrol-body table.sc-table tr td:first-child {
  border-left: none;
}
body.sc .sc-expander .sc-expander-body .sc-listcontrol-body table.sc-table tr td:last-child {
  border-right: none;
}
body.sc .sc-expander .sc-expander-body .sc-listcontrol-body table.sc-table tr:last-child td {
  border-bottom: none;
}
body.sc .sc-expander .sc-expander-footer {
  background: #f7f7f7;
  text-align: center;
  padding: 10px 0;
  font-size: 1.3em;
}
body.sc .sc-actionpanel {
  height: 18px !important;
  float: none;
}
body.sc .sc-actionpanel .dropdown-text {
  line-height: 27px;
  padding-right: 16px;
}
body.sc .sc-actionpanel .btn.noText {
  min-width: 39px;
  padding: 6px 8px;
  border: 1px solid #cacaca;
  margin: 0;
  box-shadow: #fbfbfb 0 1px 0 0 inset, #e1dfdf 0 1px 1px 0;
}
body.sc .sc-actionpanel .btn.noText .sc-dropdownbutton-toggler {
  right: 14px;
}
body.sc .sc-actionpanel .btn.no-text {
  height: 32px;
  padding: 5px 10px;
  float: left;
  margin-left: -1px;
}
body.sc .sc-actionpanel ul.nav .sc-dropdownbutton-toggler {
  right: 12px;
  margin-top: -2px;
}
body.sc .sc-actionpanel ul.nav .icon-group .mainButton.noText .sc-icon {
  margin-left: 1px;
  margin-right: 0;
}
body.sc .sc-actionpanel ul.nav .icon-group .btn.no-text {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body.sc .sc-actionpanel ul.nav .icon-group .btn.no-text:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
body.sc .sc-actionpanel ul.nav .icon-group .btn.no-text:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
body.sc .sc-actionpanel ul.nav .icon-group .btn.no-text:hover {
  opacity: 1;
}
body.sc .sc-actionpanel ul.nav .sc-dropdownbutton-chevron {
  border: none;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/DropDownButton/arrows.png') no-repeat 0 0;
  width: 10px;
  height: 6px;
}
body.sc .sc-actionpanel ul.nav .sc-dropdownbutton-chevron.up {
  background-position: 0 -6px;
}
body.sc .sc-actionpanel ul.nav .sc-foldout.dropdown-menu.open:after,
body.sc .sc-actionpanel ul.nav .sc-foldout.dropdown-menu.open:before {
  bottom: 100%;
  right: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
body.sc .sc-actionpanel ul.nav .sc-foldout.dropdown-menu.open:after {
  border-bottom-color: #ffffff;
  border-width: 6px;
  margin-left: -6px;
  right: 14px;
}
body.sc .sc-actionpanel ul.nav .sc-foldout.dropdown-menu.open:before {
  border-bottom-color: #dcdadb;
  border-width: 7px;
  margin-left: -7px;
}
body.sc .sc-globalHeader {
  height: 60px;
  line-height: 60px;
}
body.sc .sc-globalHeader .sc-global-logo.medium {
  margin-top: 12px;
}
body.sc .sc-breadcrumb > ul > li {
  color: #c8fcff;
  font-size: 14px;
}
body.sc .sc-breadcrumb > ul > li a {
  color: #c8fcff;
}
body.sc .sc-breadcrumb > ul > li::first-child {
  text-transform: none;
}
body.sc .sc-navigation-menu {
  top: 60px;
  margin-left: 20px;
  margin-top: 20px;
  width: 270px;
  box-shadow: inset -1px 0 0 0 #4a505b;
}
body.sc .sc-accountInformation {
  font-size: 14px;
}
body.sc .sc-accountInformation .logout {
  color: #f1eff0;
}
body.sc .sc-accountInformation li {
  color: #ffffff;
}
body.sc .sc-accountInformation li img {
  display: none;
}
body.sc .sc-accountInformation li:after {
  padding: 0 10px 0 12px;
}
body.sc .sc-menu {
  border-top: 1px solid #5d6672;
  padding-top: 15px;
}
body.sc .sc-menu .menuroot {
  border: none;
  background: none;
  width: 269px;
}
body.sc .sc-menu .menuroot .itemRow.menuItem {
  width: 270px;
}
body.sc .sc-menu .menuroot .itemRow.menuItem a {
  color: #b1b1b1;
}
body.sc .sc-menu .menuroot .itemRow.menuItem.selected {
  background: #505864;
}
body.sc .sc-menu .menuroot .itemRow.menuItem.selected a {
  color: #dcdee0;
  cursor: default;
}
body.sc .sc-menu .menuroot .itemRow.menuItem.selected a:hover {
  text-decoration: none;
}
body.sc .sc-menu .menuroot .header {
  background: #4a505b;
}
body.sc .sc-menu .menuroot .header.rootItem a {
  color: #b1b1b1;
}
body.sc .sc-menu .menuroot .header.rootItem.selected {
  background: #4a505b;
  box-shadow: inset 5px 0 0 0px #008e97, inset 2px 0 0 1px #008e97;
}
body.sc .sc-menu .menuroot .header.rootItem.selected a {
  color: #dcdee0;
  cursor: default;
}
body.sc .sc-menu .menuroot .header.rootItem.selected a:hover {
  text-decoration: none;
}
body.sc .sc-menu .menuroot .header.menuItem a {
  color: #b1b1b1;
}
body.sc .sc-menu .menuroot .header.highlighted {
  background: none;
}
body.sc .sc-menu .menuroot .menuchevron {
  background: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #ffffff;
  border-bottom: 0 solid #ffffff;
  content: "";
  top: -33px;
  left: 240px;
}
body.sc .sc-menu .menuroot .open .menuchevron {
  top: -33px;
}
body.sc .popover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #d4d4d4;
}
body.sc .popover.right > .arrow {
  border-right-color: #d4d4d4;
}
body.sc .modal a.sc-dialogWindow-maximize:before,
body.sc .modal a.sc-dialogWindow-restore:before {
  display: none;
}
body.sc .modal.maximize a.sc-dialogWindow-restore {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAzADMAMzfwV8aAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH3wkcDSI2WLPO5gAAAFlJREFUOMu1U0EKwDAIq6M/yv+fkDdlp0EZ2haa5iQqmhgMSS1BmszwtEP0WZFkVDUAsjCwSNCK5kyS74jjdADbtt61cXWTewxI/jd/od+F4wGh4h2rfjuDFzQIGbqF9LfZAAAAAElFTkSuQmCC') /*/sitecore/shell/client/Business Component Library/version 2/Assets/img/DialogWindow/dialog_restore_h.png*/ !important;
}
body.sc .modal a.sc-dialogWindow-maximize {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAzADMAMzfwV8aAAAACXBIWXMAAAsRAAALEQF/ZF+RAAAAB3RJTUUH3wkcDSIAlwlbfwAAADBJREFUOMtj/P///38GCgATA4WABcZ48uQJIykaZWRk/lPFBaMGjBowOAxgHPDcCAA9xgwZGg9wbAAAAABJRU5ErkJggg==') /*/sitecore/shell/client/Business Component Library/version 2/Assets/img/DialogWindow/dialog_maximize_h.png*/ !important;
}
body.sc .modal .sc-confirmationDialog-header,
body.sc .modal .sc-dialogWindow-header {
  background: #008e97;
  height: 60px;
}
body.sc .modal .sc-confirmationDialog-header .sc-confirmationDialog-header-title,
body.sc .modal .sc-dialogWindow-header .sc-confirmationDialog-header-title,
body.sc .modal .sc-confirmationDialog-header .sc-dialogWindow-close,
body.sc .modal .sc-dialogWindow-header .sc-dialogWindow-close {
  font-size: 1.75em !important;
}
body.sc .modal .sc-confirmationDialog-header a.sc-confirmationDialog-close,
body.sc .modal .sc-dialogWindow-header a.sc-confirmationDialog-close,
body.sc .modal .sc-confirmationDialog-header a.sc-dialogWindow-close,
body.sc .modal .sc-dialogWindow-header a.sc-dialogWindow-close {
  top: 29px;
}
body.sc .modal .sc-confirmationDialog-header a.sc-confirmationDialog-close:before,
body.sc .modal .sc-dialogWindow-header a.sc-confirmationDialog-close:before,
body.sc .modal .sc-confirmationDialog-header a.sc-dialogWindow-close:before,
body.sc .modal .sc-dialogWindow-header a.sc-dialogWindow-close:before {
  top: -26px;
  border-left-color: #f1eff0;
  height: 65px;
  right: 34px;
}
body.sc .modal .sc-dialogWindow-close {
  top: 33px !important;
}
body.sc .modal .sc-dialogWindow-close:before {
  left: -40px !important;
}
body.sc .modal.sc-dialogWindow,
body.sc .modal .sc-confirmationDialog-body,
body.sc .modal .sc-dialogWindow-body {
  background: #f1eff0;
}
body.sc .modal .sc-confirmationDialog-buttons,
body.sc .modal .sc-dialogWindow-buttons {
  background: #f7f7f7;
  border-top: 1px solid #c5c5c5;
}
body.sc .sc-uploader-content {
  background: white;
}
body.sc .sc-uploader-content .btn.btn-default {
  line-height: 27px;
}
body.sc .sc-uploaderInfo .remove {
  margin-bottom: 10px;
}
body.sc .sc-uploaderInfo .sc-uploaderInfo-row {
  background: white;
}
body.sc .sc-tab-control .sc-tab-control-button-right {
  height: 36px;
  padding-top: 11px;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap {
  border-bottom: none;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.last-tab:after {
  width: 3px;
  height: 39px;
  content: "";
  top: 0;
  right: -3px;
  position: absolute;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/corner.png') no-repeat right top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.last-tab:hover:after {
  right: -4px;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.first-tab {
  margin-left: 2px !important;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.first-tab:before {
  width: 3px;
  height: 39px;
  content: "";
  top: 0;
  left: -2px;
  z-index: 10;
  position: absolute;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/corner.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.first-tab:hover:before {
  left: -2px;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.before-selected a:hover:after,
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.before-selected a:after {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.after-selected a:hover:before,
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.after-selected a:before {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item a {
  height: 39px;
  line-height: 17px;
  text-transform: none;
  color: #666666;
  text-shadow: 0 1px 0 #f1f1f1;
  font-size: 14px;
  border: none;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/tab_gray_background.png') repeat-x left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item a:hover {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/tab_gray_background.png') repeat-x left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item a:hover:after {
  background-image: none;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item a:before {
  content: "";
  top: 0;
  z-index: 10;
  width: 16px;
  display: block;
  position: absolute;
  left: 0;
  height: 39px;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected.last-tab:after {
  right: -4px;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected a {
  color: #dc271e;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected a:hover {
  color: #dc271e;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected a:hover:before {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected a:hover:hover:before {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected a,
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item:hover a {
  border: none !important;
}
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected a:before,
body.sc .sc-tab-control.sc-tab-control-progressive > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item:hover a:before {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-subtab > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item a {
  line-height: 29px;
}
body.sc .sc-tab-control .sc-tab-control-nav {
  height: 46px;
}
body.sc .sc-tab-control .sc-tab-control-nav .sc-tab-control-tab-item {
  height: 41px;
}
body.sc .sc-tab-control .sc-tab-control-nav .sc-tab-control-tab-item a {
  padding: 4px 15px 6px 15px;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap {
  border-bottom: none;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item {
  border: none;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item:hover {
  background: none;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item a {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/tab_gray_background.png') repeat-x left top;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.last-tab {
  padding-right: 2px;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.last-tab:after {
  width: 3px;
  height: 39px;
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/corner.png') no-repeat right top;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.last-tab:hover:after {
  right: 0;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.first-tab {
  padding-left: 3px;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.first-tab:before {
  width: 3px;
  height: 39px;
  content: "";
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/corner.png') no-repeat left top;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.first-tab:hover:before {
  left: 0;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected {
  background: none;
}
body.sc .sc-tab-control.sc-tab-control-normal > .sc-tab-control-nav-wrap > .sc-tab-control-nav > .sc-tab-control-tab-item.selected a {
  color: #dc271e;
}
body.sc .sc-global-logo {
  background-image: url('/sitecore/shell/client/Speak/Assets/img/Speak/GlobalLogo/global_logo-contrast.png');
}
body.sc .sc-progressindicator-inner {
  background-image: url("/sitecore/shell/client/Speak/Assets/img/Speak/ProgressIndicator/sc-spinner32-contrast.gif");
}
body.sc .sc-progressbar .progress-bar {
  background: linear-gradient(to bottom, #008995 0, #047680 100%);
}
body.sc .select2-drop.select2-drop-active {
  border: 1px solid #03919e;
}
body.sc .select2-container-active .select2-choice,
body.sc .select2-container-active .select2-choices {
  border: 1px solid #03919e !important;
}
/* ------------------------------------------------------------- */
.sc-navigation-content {
  padding-left: 310px;
  padding-right: 20px;
}
.sc-navigation-content .sc-applicationContent-main {
  padding: 0;
}
.sc-navigation-content .sc-applicationContent-main > .sc-border.sc-show-padding {
  padding: 15px 0;
}
.sc-applicationContent-main,
.sc-applicationContent-info {
  background: #ffffff;
}
.sc-applicationContent {
  padding: 0 20px;
  background: #ffffff;
}
.sc-applicationContent .sc-navigation-menu {
  margin-left: 0 !important;
}
.sc-applicationContent .sc-navigation-content {
  padding-right: 0;
  padding-left: 290px;
}
.sc-applicationContent .sc-applicationContent-info {
  color: #676566;
}
.sc-applicationContent .sc-applicationContent-info label,
.sc-applicationContent .sc-applicationContent-info .sc-text {
  font-weight: 400;
  color: #676566;
  font-size: 14px;
}
.sc-applicationContent-navigation {
  background: #4a505b;
}
.sc-applicationContent-navigation.sc-navigation-menu .btn.sc-button.lg {
  width: 220px !important;
  margin-left: 25px;
  margin-right: 25px;
}
.sc-applicationHeader {
  padding-top: 80px;
  background: none;
}
.sc-applicationHeader .sc-applicationHeader-row1 {
  background: none;
  height: 92px;
  border-left: 1px solid #eae8e9;
  border-right: 1px solid #eae8e9;
}
.sc-applicationHeader .sc-applicationHeader-row1 .sc-applicationHeader-content {
  background: #008e97;
  height: 61px;
  border-bottom: 1px solid #389ea4;
}
.sc-applicationHeader .sc-applicationHeader-row1 .sc-applicationHeader-content .sc-applicationHeader-title span.sc-text {
  font-size: 21px;
  font-weight: 400;
}
.sc-applicationHeader .sc-applicationHeader-row1 .sc-applicationHeader-content.breadcrumb {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 32px;
  padding: 5px 15px;
}
.sc-applicationHeader .sc-applicationHeader-row1:after {
  display: none;
}
.sc-applicationHeader .sc-applicationHeader-row2 {
  background: #f1eff0;
  border-left: 1px solid #eae8e9;
  border-right: 1px solid #eae8e9;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: #eae8e9 0 1px 0 0;
}
.sc-applicationHeader .sc-applicationHeader-actions {
  padding-top: 5px;
}
.sc-applicationHeader .sc-applicationHeader-back {
  padding-top: 3px;
}
.sc-globalHeader {
  background: #4a505b;
  border-bottom: 1px solid #dfdfdf;
}
.sc-globalHeader .sc-global-logo.medium {
  margin-top: 7px;
}
body {
  background: #ffffff;
}
/* Select Media Dialog Layout */
.sc-dialogHeader {
  background: #4a505b;
  border-bottom: 1px solid #dfdfdf;
  height: 79px;
}
.sc-dialogHeader .sc-dialogHeader-title {
  padding-top: 5px;
}
.sc-dialogHeader .sc-dialogHeader-actions {
  top: 8px;
  text-align: right;
  width: 30%;
  right: 40px;
}
.sc-dialogHeader .sc-dialogHeader-actions button {
  margin-left: 7px;
}
.sc-dialogHeader .sc-dialogHeader-content {
  padding-left: 30px;
}
.sc-dialogContent {
  margin-top: 80px;
  margin-bottom: 0;
}
.sc-dialogContent .sc-dialogContent-navigation {
  background: #4a505b;
  box-shadow: inset -1px 0 0 0 #4a505b;
  margin-top: 40px !important;
}
.sc-dialogContent .sc-dialogContent-navigation a.sc-iconhyperlinkbutton.icon {
  padding-left: 0;
  color: #008e97;
  font-size: 15px;
  line-height: 20px;
  text-decoration: underline;
}
.sc-dialogContent .sc-dialogContent-navigation a.sc-iconhyperlinkbutton.icon:hover {
  color: #008e97;
}
.sc-dialogContent .sc-dialogContent-navigation a.sc-iconhyperlinkbutton .sc-icon {
  width: 20px;
  height: 20px;
  left: 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-dialogContent-link {
  padding: 15px 15px 15px 20px;
  border-bottom: 1px solid #5d6672;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup .sc-hyperlinkbutton {
  position: relative;
  padding-left: 48px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup .sc-hyperlinkbutton:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  left: 21px;
  top: 16px;
  background: url("/sitecore/shell/client/Speak/Assets/img/sc-sprite-contrast.png") no-repeat 0 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(1) a:before {
  background-position: -24px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(1)[sc-selected=true] a:before {
  background-position: -24px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(2) a:before {
  background-position: -48px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(2)[sc-selected=true] a:before {
  background-position: -48px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(3) a:before {
  background-position: -72px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(3)[sc-selected=true] a:before {
  background-position: -72px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(4) a:before {
  background-position: -96px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(4)[sc-selected=true] a:before {
  background-position: -96px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(5) a:before {
  background-position: -120px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(5)[sc-selected=true] a:before {
  background-position: -120px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(6) a:before {
  background-position: -144px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(6)[sc-selected=true] a:before {
  background-position: -144px -20px;
}
.sc-dialogContent .sc-navigation-menu {
  top: 100px;
  width: 270px;
  margin-left: 20px;
}
.sc-dialogContent .sc-navigation-content {
  padding-left: 310px;
  padding-right: 20px;
  padding-top: 20px;
}
.sc-dialogContent .sc-dialogContent-toolbar {
  border-bottom: 1px solid #dfdfdf;
  background: #4a505b;
  padding: 12px 40px;
}
.sc-dialogContent .sc-dialogContent-toolbar .sc-dialogContent-toolbar-actions {
  width: 100%;
}
.sc-dialogContent .sc-dialogContent-main {
  background: #4a505b;
  position: relative;
  padding: 15px 40px;
}
.sc-dialogContent .sc-dialogContent-main .sc-messageBar {
  margin-top: 10px;
}
.sc-dialogContent .sc-dialogContent-main .sc-filtercontrol {
  position: absolute;
  background: #ffffff;
  z-index: 11;
  width: 100%;
  left: 0;
  top: -1px;
}
.sc-dialogContent .sc-dialogContent-main .sc-listcontrol {
  margin-right: -40px;
}
.sc-dialogContent .sc-dialogContent-main .row .col-md-4.text-right .sc-togglebutton {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .sc-navigation-content {
    padding-left: 20px !important;
  }
  .sc-navigation-wrapper.active .sc-navigation-menu {
    z-index: 1000 !important;
  }
}
/* ---------------------------  DIALOG  ------------------------------ */
body.sc .sc-search-filters {
  margin-top: -2px;
}
body.sc .sc-ovelaypanel-header {
  background: #008e97 url('/sitecore/shell/client/Speak/Assets/img/Speak/SmartPanel/header_icon.png') no-repeat 25px 50% !important;
  padding-right: 60px;
  padding-left: 68px;
}
body.sc .sc-ovelaypanel-header .sc-text.sc-text-title {
  font-weight: 100;
  font-size: 16px;
}
body.sc .sc-ovelaypanel-content {
  padding-top: 35px;
}
body.sc .sc-ovelaypanel-content .sc-text {
  line-height: 19px;
}
body.sc .sc-search-searches {
  position: relative;
}
.sc-dialogContent-title {
  display: none;
}
.sc .sc-navigation-menu .btn.sc-button.lg[data-sc-id=UploadButton] {
  width: 240px !important;
}
/* ------------------------  LIST MANAGER  --------------------------- */
body.sc .sc-createlist-option {
  margin-top: 10px;
  margin-bottom: 10px;
}
body.sc .sc-createlist-option .name {
  color: #666666;
  font-weight: 400;
  font-size: 125%;
}
body.sc .sc-createlist-option .description {
  color: #555555;
  font-size: 115%;
}
body.sc .sc-popover .sc-text {
  color: #555555;
  font-weight: 400;
  font-size: 125%;
  line-height: 120%;
}
body.sc .sc-popover a.sc-hyperlinkbutton {
  color: #555555;
  font-size: 125%;
  font-weight: 400;
}
body.sc .sc-popover .sc-text.sc-text-largelabel,
body.sc .sc-popover .sc-text.sc-text-largetitle {
  font-size: 175%;
  font-weight: 100;
  color: #b1b1b1 !important;
}
body.sc .sc-ListPath {
  height: 35px !important;
}
body.sc .sc-ListPath > ul > li a {
  color: #b1b1b1;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px dotted #b1b1b1;
  line-height: 16px;
}
body.sc .sc-ListPath > ul > li a:hover {
  text-decoration: none;
  border-bottom: none;
}
body.sc .sc-ListPath > ul > li:first-child > a {
  text-transform: none;
}
/* hacks */
.modal div.sc-border[data-sc-id=ShowMoreBorder] {
  padding-top: 15px;
  height: 105px !important;
}
.sc-advancedExpander-body .sc-ListPath {
  padding: 0 15px;
}
.sc-advancedExpander-body div.sc-border[data-sc-id=ShowMoreBorder],
.sc-advancedExpander-body div.sc-border[data-sc-id=ContactsShowMoreBorder] {
  padding: 15px;
  text-align: center !important;
}
body.sc .input-group.sc-buttontextbox .input-group-btn button img {
  display: none;
}
.sc-advancedExpander {
  margin-top: 30px;
}
.popover div.sc-border[data-sc-id=CreateBorder] {
  width: 800px !important;
}
.popover div.sc-border[data-sc-id=CreateBorder] .col-md-3 {
  width: 16% !important;
}
.popover div.sc-border[data-sc-id=CreateBorder] .col-md-9 {
  width: 80% !important;
}
.sc .sc-menu .menuroot > div > div > :first-child {
  position: relative;
}
.sc .sc-menu .menuroot > div > div > :first-child .menuicon {
  opacity: 0;
}
.sc .sc-menu .menuroot > div > div > :first-child:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 22px;
  top: 13px;
  opacity: 0.55;
  background: url("/sitecore/shell/client/Speak/Assets/img/sc-sprite.png") no-repeat -102px -341px;
}
.sc .sc-menu .menuroot > div > div:nth-child(2) > :first-child:before {
  background-position: -152px -136px;
}
.sc .sc-menu .menuroot > div > div:nth-child(3) > :first-child:before {
  background-position: -102px -358px;
}
.sc .sc-menu .menuroot > div > div:nth-child(4) > :first-child:before {
  background-position: -102px -375px;
}
.sc .sc-menu .menuroot > div > div:nth-child(5) > :first-child:before {
  background-position: -119px -357px;
}
div[data-sc-id=GeneralInformationDestinationTextBox] .btn.btn-default {
  font-size: 0;
}
div[data-sc-id=GeneralInformationAcordion] {
  margin-top: 10px !important;
}
div[data-sc-id=ListSourceAccordion],
div[data-sc-id=ContactsAccordion] {
  margin-top: 0 !important;
}
hr[data-sc-id=InfoSpotCreatedSeparator] {
  opacity: 0;
  filter: alpha(opacity=0);
}
.sc-listcontrol .sc-table tbody tr td img {
  margin-top: -5px;
}
body.sc .sc-listcontrol[data-sc-id=VisitorsList] .sc-table tbody tr td a {
  border: none;
}
.sc-listcontrol .sc-table tbody tr td img {
  display: none;
}
.sc-dialogContent-link a[data-sc-id=UploadButton] .sc-icon {
  background-image: url('/sitecore/shell/client/Speak/Assets/img/sc-sprite-contrast.png') !important;
}
/* experience profile */
body.sc .sc-tabcontrol > .nav-tabs > li > a,
body.sc .sc-tabcontrol > .nav-pills > li > a {
  padding-left: 30px !important;
  padding-right: 15px !important;
}
.sc-ChartComposites [data-sc-id$="ActionControl"] .btn-default {
  border: 1px solid #cacaca !important;
  height: 30px !important;
  border-radius: 4px !important;
}
.sc-ChartComposites .sc-advancedExpander-header {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
.sc-advancedExpander-body {
  border: 1px solid #cccccc !important;
}
.sc-dialogContent-toolbar,
.sc-dialogContent-main {
  background: #ffffff !important;
}
.sc-applicationHeader-title .sc-text,
.sc-dialogHeader-title .sc-text {
  color: #fff !important;
}
.sc .sc-menu .menuroot > div > div > :first-child:before,
.sc .sc-menu .menuroot > div > div:nth-child(2) > :first-child:before {
  opacity: 1;
  background-image: url("/sitecore/shell/client/Speak/Assets/img/sc-sprite-white.png");
}
body.sc .sc-menu .menuroot .itemRow.menuItem a,
body.sc .sc-menu .menuroot .itemRow.menuItem.selected a,
body.sc .sc-menu .menuroot .header.rootItem a,
body.sc .sc-menu .menuroot .header.menuItem a {
  color: #fff;
}
body.sc .sc-ListPath > ul > li a {
  color: #7e8288;
  border-bottom-color: #7e8288;
}
body.sc .sc-popover .sc-text.sc-text-largelabel,
body.sc .sc-popover .sc-text.sc-text-largetitle {
  color: #555 !important;
}
.sc-applicationContent .sc-applicationContent-info .sc-text.sc-text-largetitle {
  color: #555 !important;
}
::-webkit-input-placeholder {
  color: #acacac !important;
}
::-moz-placeholder {
  color: #acacac !important;
}
:-ms-input-placeholder {
  color: #acacac !important;
}
:-moz-placeholder {
  color: #acacac !important;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
a {
  color: #008e97;
}
a:hover {
  color: #007c84;
}
.sc-dialogHeader .sc-dialogHeader-title .sc-text.sc-text-largetitle[data-sc-id=HeaderTitle] {
  color: #fff !important;
}
.sc-textbox,
.sc-textarea,
input.form-control {
  -webkit-transition: all .7s;
  transition: all .7s;
}
.sc-textbox:focus,
.sc-textarea:focus,
input.form-control:focus {
  background: #fff !important;
}
.btn {
  font-size: 14px;
}
body.sc .sc-menu .menuroot .header.rootItem.selected {
  background: #222;
  box-shadow: inset 5px 0 0 0 #008e97;
}
.sc .sc-menu .menuroot .toplevel {
  font-size: 17px;
}
.sc .sc-menu .menuroot .itemRow.menuItem a {
  font-size: 15px;
}
body.sc .sc-menu .menuroot .itemRow.menuItem.selected {
  background: #222;
}
body.sc .modal .sc-dialogWindow-header {
  background: #008e97;
}
/*# sourceMappingURL=speak-default-theme-contrast-var.css.map */