@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
body.sc {
  font-family: 'Source Sans Pro';
  /* Text Control */
  /* Label */
  /* Button Control */
  /* Back Button Control */
  /* DropDownButton Control */
  /* ToggleButton Control */
  /* Filter Control */
  /* Textbox Control */
  /* Combobox Control */
  /* Textarea Control */
  /* List Control */
  /* ButtonTextBox Control */
  /* MessageBar Control */
  /* SmartPanel Control */
  /* Hyperlink Button Control */
  /* IconHyperlink Button Control */
  /* HyperlinkButtonGroup Control */
  /* Advanced Expander Control */
  /* Action Control */
  /* Global Header Control */
  /* Breadcrumb Control */
  /* Navigation Menu Control */
  /* Account Information Control */
  /* Menu Control */
  /* Popover Control */
  /* Dialog Window */
  /* Uploader Control */
  /* Tab Control */
  /* Global Logo */
}
body.sc .sc-text {
  color: #666666;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
}
body.sc .sc-text.sc-text-label {
  color: #666666;
  font-size: 14px;
}
body.sc .sc-text.sc-text-largelabel {
  color: #f79635;
  font-size: 15px;
  font-weight: 400;
}
body.sc .sc-text.sc-text-value {
  color: #666666;
  font-size: 19px;
  font-weight: 300;
}
body.sc .sc-text.sc-text-largevalue {
  color: #666666;
  font-size: 21px;
  font-weight: 300;
}
body.sc .sc-text.sc-text-title {
  color: #f79635;
  font-size: 15px;
  font-weight: 700;
}
body.sc .sc-text.sc-text-smalltitle {
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 400;
}
body.sc .sc-text.sc-text-largetitle {
  color: #f79635;
  font-size: 32px;
  font-weight: 300;
}
body.sc .sc-text.sc-text-divider {
  color: #666666;
}
body.sc .sc-label {
  color: #666666;
  font-weight: 400;
}
body.sc .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 30px;
  padding: 0 12px;
}
body.sc .btn.noText {
  padding: 0 7px;
}
body.sc .btn.btn-primary {
  border: 1px solid #c87c30;
  background: linear-gradient(to bottom, #ef9c45 0, #e3853d 100%);
  color: #fff;
  box-shadow: #f3b470 0 1px 0 0 inset, #e6c8b6 0 1px 0 0;
  text-shadow: 0 1px 0 #bc6b2a;
}
body.sc .btn.btn-primary:hover {
  background: linear-gradient(to bottom, #e38e37 0, #c7651b 100%);
}
body.sc .btn.btn-primary:active,
body.sc .btn.btn-primary.up {
  background: linear-gradient(to bottom, #e38337 0, #ed9843 100%);
  box-shadow: #cc7531 0 1px 0 0 inset, #e6c8b6 0 1px 0 0;
}
body.sc .btn.btn-primary:disabled {
  background: #efab66;
  box-shadow: none;
  border: 1px solid #d8924c;
}
body.sc .btn.btn-default,
body.sc .btn.no-text {
  border: 1px solid #c3c3c3;
  background: linear-gradient(to bottom, #f3f3f3 0, #d7d7d7 100%);
  color: #666666;
  box-shadow: #fbfbfb 0 1px 0 0 inset, #e1dfdf 0 1px 1px 0;
  text-shadow: 0 1px 0 #f8f8f8;
}
body.sc .btn.btn-default:hover,
body.sc .btn.no-text:hover {
  background: linear-gradient(to bottom, #f7f7f7 0, #ececec 100%);
}
body.sc .btn.btn-default:active,
body.sc .btn.no-text:active,
body.sc .btn.btn-default.up,
body.sc .btn.no-text.up {
  background: #f7f7f7;
  box-shadow: #e4e4e4 0 1px 0 0 inset;
  border: 1px solid #b6b6b6;
}
body.sc .btn.btn-default:disabled,
body.sc .btn.no-text:disabled {
  background: #eeeeee;
  box-shadow: #f2f2f2 0 1px 0 0 inset;
  border: 1px solid #d3d3d3;
}
body.sc .btn.btn-inverse {
  border: 1px solid #959595;
  background: linear-gradient(to bottom, #b6b5b8 0, #a5a5a5 100%);
  color: #ffffff;
  box-shadow: #c7c6c8 0 1px 0 0 inset, #c8c8c8 0 1px 0 0;
  text-shadow: 0 1px 0 #939394;
}
body.sc .btn.btn-inverse:hover {
  background: linear-gradient(to bottom, #adadad 0, #898989 100%);
}
body.sc .btn.btn-inverse:active,
body.sc .btn.btn-inverse.up {
  background: linear-gradient(to bottom, #a5a5a5 0, #b5b5b7 100%);
  box-shadow: #8f8f8f 0 1px 0 0 inset;
  border: 1px solid #878787;
}
body.sc .btn.btn-inverse:disabled {
  background: #c6c6c6;
  box-shadow: none;
  border: 1px solid #a2a2a2;
}
body.sc .sc-backbutton.btn {
  height: 43px;
}
body.sc .sc-backbutton.btn:before,
body.sc .sc-backbutton.btn:after,
body.sc .sc-backbutton.btn .sc-backbutton-text {
  background-image: url("/sitecore/shell/client/Speak/Assets/img/Speak/BackButton/back_button-new.png");
}
body.sc .sc-backbutton.btn .sc-backbutton-text {
  color: #666666;
  text-shadow: 0 1px 0 #f1f1f1;
  font-size: 13px;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler {
  margin-top: -2px;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron,
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron {
  border: none;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/DropDownButton/arrows.png") no-repeat;
  width: 10px;
  height: 6px;
}
body.sc .sc-dropdownbutton > button.btn-inverse.up .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-default.up .sc-dropdownbutton-toggler,
body.sc .sc-dropdownbutton > button.btn-primary.up .sc-dropdownbutton-toggler {
  margin-top: -3px;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron {
  background-position: -10px top;
}
body.sc .sc-dropdownbutton > button.btn-inverse .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron.up,
body.sc .sc-dropdownbutton > button.btn-primary .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron.up {
  background-position: -10px bottom;
}
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron {
  background-position: 0 0;
}
body.sc .sc-dropdownbutton > button.btn-default .sc-dropdownbutton-toggler .sc-dropdownbutton-chevron.up {
  background-position: 0 -6px;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler {
  margin-top: -2px;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler .sc-togglebutton-chevron,
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler .sc-togglebutton-chevron,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler .sc-togglebutton-chevron {
  border: none;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/DropDownButton/arrows.png") no-repeat;
  width: 10px;
  height: 6px;
}
body.sc .sc-togglebutton.btn-inverse.up .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-default.up .sc-togglebutton-toggler,
body.sc .sc-togglebutton.btn-primary.up .sc-togglebutton-toggler {
  margin-top: -3px;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler .sc-togglebutton-chevron,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler .sc-togglebutton-chevron {
  background-position: -10px top;
}
body.sc .sc-togglebutton.btn-inverse .sc-togglebutton-toggler .sc-togglebutton-chevron.up,
body.sc .sc-togglebutton.btn-primary .sc-togglebutton-toggler .sc-togglebutton-chevron.up {
  background-position: -10px bottom;
}
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler .sc-togglebutton-chevron {
  background-position: 0 0;
}
body.sc .sc-togglebutton.btn-default .sc-togglebutton-toggler .sc-togglebutton-chevron.up {
  background-position: 0 -6px;
}
body.sc .sc-filtercontrol {
  padding: 40px 10px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-bottom: 1px solid #bebebe;
  box-shadow: 0px 1px 0 0 #dedede;
}
body.sc .sc-filtercontrol .sc-filtercontrol-item:hover {
  background: #f0f0f0;
}
body.sc .sc-filtercontrol .sc-filtercontrol-item span {
  margin-left: 5px;
}
body.sc .sc-filtercontrol table {
  background: none;
}
body.sc .sc-filtercontrol table th {
  background: none;
  border: none;
  color: #e48539;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 15px 15px 15px;
}
body.sc .sc-filtercontrol table td {
  border: none;
  padding-top: 5px;
}
body.sc .sc-filtercontrol table td span {
  font-weight: 300;
  font-size: 14px;
}
body.sc .sc-textbox,
body.sc .sc-uploaderInfo-row .form-control,
body.sc .sc-textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f7f7f7;
  box-shadow: inset 0 1px 0 #ebebeb;
  border: 1px solid #e0e0e0;
  border-top: 1px solid #cccccc;
  margin: 0;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #b6b6b6;
  font-weight: 300;
}
body.sc .sc-textbox:focus,
body.sc .sc-uploaderInfo-row .form-control:focus,
body.sc .sc-textarea:focus {
  background: #f9f9f9;
}
body.sc input.form-control[placeholder],
body.sc input.form-control::-webkit-input-placeholder,
body.sc input.form-control::-moz-placeholder,
body.sc input.form-control:-moz-placeholder,
body.sc input.form-control:-ms-input-placeholder {
  color: #b6b6b6;
}
body.sc .sc-combobox {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f7f7f7;
  box-shadow: inset 0 1px 0 #ebebeb;
  border: 1px solid #e0e0e0;
  border-top: 1px solid #cccccc;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  color: #b6b6b6;
  font-weight: 300;
}
body.sc .sc-textarea {
  height: auto;
  line-height: 20px;
}
body.sc .sc-listcontrol .sc-table tbody td {
  background: #f8f8f8;
  color: #666666;
  border: 1px solid #d8d8d8;
}
body.sc .sc-listcontrol .sc-table tbody tr:nth-child(odd) td {
  background: #eee1da;
}
body.sc .sc-listcontrol .sc-table tbody tr:hover td,
body.sc .sc-listcontrol .sc-table tbody tr.active td {
  background: #ecd6cb;
}
body.sc .sc-listcontrol .sc-table tbody tr td a {
  color: #666666;
  border-bottom: 1px dotted #666666;
}
body.sc .sc-listcontrol .sc-table tbody tr td a:hover {
  border: none;
}
body.sc .sc-listcontrol .sc-table tbody tr th,
body.sc .sc-listcontrol .sc-table thead th {
  background: #e48539;
  color: #ffffff;
}
body.sc .sc-listcontrol .sc-table tbody tr th .sc-table-sortable,
body.sc .sc-listcontrol .sc-table thead th .sc-table-sortable {
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
}
body.sc .sc-listcontrol .sc-table td,
body.sc .sc-listcontrol .sc-table th {
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 16px;
}
body.sc .sc-listcontrol .sc-table-header th.sc-table-head {
  border-left: 1px solid #ffffff;
}
body.sc .sc-listcontrol .sc-table-header th.sc-table-head:after {
  display: none;
}
body.sc .sc-listcontrol .sc-table-header th.sc-table-head:first-child {
  border: none;
}
body.sc .sc-listcontrol .sc-table-header th.sc-table-head .sc-table-sortable {
  border-top-color: #ffffff;
}
body.sc .sc-listcontrol .sc-table-header th.sc-table-head .sc-table-sortable.noDirection,
body.sc .sc-listcontrol .sc-table-header th.sc-table-head .sc-table-sortable.up {
  border-bottom-color: #ffffff;
}
body.sc .sc-listcontrol .clearfix {
  margin-left: -10px;
}
body.sc .sc-listcontrol .sc-iconList-wrap {
  background: none;
  margin: 10px 10px 10px 10px;
  height: auto !important;
  width: auto !important;
  float: none;
  display: inline-block;
}
body.sc .sc-listcontrol .sc-iconList-wrap .sc-iconList-item {
  box-sizing: initial;
  -webkit-box-sizing: initial;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #d5d4d4;
  height: auto !important;
}
body.sc .sc-listcontrol .sc-iconList-wrap .sc-iconList-item .sc-iconList-item-title {
  text-align: left;
  font-size: 14px;
  margin-top: 20px;
}
body.sc .sc-listcontrol .sc-iconList-wrap:hover,
body.sc .sc-listcontrol .sc-iconList-wrap.active {
  position: relative;
  z-index: 10;
}
body.sc .sc-listcontrol .sc-iconList-wrap:hover .sc-iconList-item,
body.sc .sc-listcontrol .sc-iconList-wrap.active .sc-iconList-item {
  border: 1px solid #f68a1e;
}
body.sc .sc-listcontrol .sc-iconList-wrap:hover .sc-iconList-item {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
body.sc .input-group {
  height: 32px;
}
body.sc .input-group .form-control {
  float: none;
  height: 30px;
  border-radius: 4px !important;
}
body.sc .input-group.sc-buttontextbox {
  display: block;
  position: relative;
}
body.sc .input-group.sc-buttontextbox input.form-control {
  border: 1px solid #e0e0e0;
  border-top: 1px solid #cccccc;
  box-shadow: inset 0 1px 0 #ebebeb;
  background: #f7f7f7;
  color: #b6b6b6;
  font-family: "Source Sans Pro";
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding-left: 48px;
  z-index: 1;
  position: absolute;
}
body.sc .input-group.sc-buttontextbox .input-group-btn {
  z-index: 10;
  width: 30px;
  position: absolute;
  right: 20px;
  height: 32px;
  line-height: 32px;
}
body.sc .input-group.sc-buttontextbox .input-group-btn button {
  border: none;
  box-shadow: none;
  background: none;
  margin-top: -5px;
}
body.sc .input-group.sc-buttontextbox:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 17px;
  top: 8px;
  z-index: 10;
  background: url("/sitecore/shell/client/Speak/Assets/img/sc-sprite-orange.png") no-repeat -217px 0;
}
body.sc .sc-messageBar .alert {
  font-weight: 400;
  background: #f8f8f8;
  padding: 18px 22px 19px 64px;
  font-size: 14px;
  color: #e48539;
  box-shadow: none;
}
body.sc .sc-messageBar .alert .close {
  font-size: 15px;
  text-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
  margin-top: -8px;
  right: 22px;
  color: #c77534;
}
body.sc .sc-messageBar .alert .close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
body.sc .sc-messageBar .alert a {
  color: #e48539;
}
body.sc .sc-messageBar .alert .icon-chevron {
  border-top: 5px solid #ef6d1f;
}
body.sc .sc-messageBar .alert .icon-chevron.direction-up {
  border-top: none;
  border-bottom: 5px solid #ef6d1f;
}
body.sc .sc-messageBar .alert .sc-messageBar-messageText,
body.sc .sc-messageBar .alert .sc-messageBar-chevron-layout {
  line-height: 26px;
}
body.sc .sc-messageBar .alert .alert-ico {
  margin-left: -36px;
  background: transparent url("/sitecore/shell/client/Speak/Assets/img/Speak/MessageBar/sc-message-bar-icons-new.png") no-repeat;
  background-position: 0 -52px;
  width: 26px;
  height: 26px;
}
body.sc .sc-messageBar .alert:hover {
  background: #f8f8f8;
}
body.sc .sc-messageBar .alert a {
  font-weight: 400;
}
body.sc .sc-messageBar .alert.alert-error,
body.sc .sc-messageBar .alert.alert-error:hover {
  background: #e87262;
}
body.sc .sc-messageBar .alert.alert-info,
body.sc .sc-messageBar .alert.alert-info:hover {
  background: #abcee6;
  color: #264e6b;
}
body.sc .sc-messageBar .alert.alert-info a,
body.sc .sc-messageBar .alert.alert-info:hover a {
  color: #264e6b;
}
body.sc .sc-messageBar .alert.alert-info .alert-ico {
  background-position: 0 -26px;
}
body.sc .sc-messageBar .alert.alert-info .icon-chevron {
  border-top: 5px solid #264e6b;
}
body.sc .sc-messageBar .alert.alert-info .icon-chevron.direction-up {
  border-top: none;
  border-bottom: 5px solid #264e6b;
}
body.sc .sc-messageBar .alert.alert-info .close {
  color: #6f818d;
}
body.sc .sc-messageBar .alert.alert-error .alert-ico {
  background-position: 0 0;
}
body.sc .sc-messageBar .alert.alert-error .icon-chevron {
  border-top: 5px solid #ffffff;
}
body.sc .sc-messageBar .alert.alert-error .icon-chevron.direction-up {
  border-top: none;
  border-bottom: 5px solid #ffffff;
}
body.sc .sc-messageBar .alert.alert-error .close {
  color: #9e4033;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert {
  padding: 3px 22px 3px 69px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert .sc-messageBar-messageText,
body.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert .sc-messageBar-actionLink {
  font-size: 13px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert {
  border-bottom: 1px solid #eadfd9;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert .alert-ico {
  width: 18px;
  background-position: -26px -60px;
  margin-top: 4px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-error {
  border-bottom: 1px solid #d45e4e;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-error .alert-ico {
  background-position: -26px -8px;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-info {
  border-bottom: 1px solid #8fb4ce;
}
body.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-info .alert-ico {
  background-position: -26px -34px;
}
body.sc .sc-messageBar .sc-messageBar-actionLink {
  line-height: 26px;
}
body.sc .sc-messageBar .sc-messageBar-head.alert {
  border-bottom: 1px solid #eadfd9;
}
body.sc .sc-messageBar .sc-messageBar-head.alert-info {
  border-bottom: 1px solid #8fb4ce;
}
body.sc .sc-messageBar .sc-messageBar-head.alert-error {
  border-bottom: 1px solid #d45e4e;
}
body.sc .sc-smartpanel .sc-smartpanel-header {
  background: #f79635;
  padding-right: 60px;
}
body.sc .sc-smartpanel .sc-smartpanel-header span {
  color: #ffffff !important;
}
body.sc .sc-smartpanel .sc-smartpanel-content {
  bottom: 15px;
}
body.sc .sc-smartpanel .sc-smartpanel-content img {
  border: 1px solid #f68a1e;
  padding: 40px;
}
body.sc .sc-smartpanel .sc-smartpanel-buttons {
  display: none;
}
body.sc a.sc-smartpanel-close,
body.sc a.sc-dialogWindow-close {
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/DialogWindow/close_button_sprite-new.png") no-repeat 0 0;
  width: 9px;
  height: 9px;
  top: 24px;
  right: 24px;
}
body.sc a.sc-smartpanel-close:hover,
body.sc a.sc-dialogWindow-close:hover {
  background-position: left bottom;
}
body.sc a.sc-smartpanel-close:before,
body.sc a.sc-dialogWindow-close:before {
  content: "";
  width: 0;
  height: 60px;
  border-left: 1px solid #ffffff;
  top: -24px;
  position: absolute;
  left: -24px;
}
body.sc .sc-hyperlinkbutton {
  color: #f68a1e;
}
body.sc .sc-hyperlinkbutton:hover {
  color: #f68a1e;
}
body.sc .sc-iconhyperlinkbutton {
  color: #f68a1e;
}
body.sc .sc-iconhyperlinkbutton:hover {
  color: #f68a1e;
}
body.sc .sc-hyperlinkbuttonsgroup {
  font-size: 14px;
}
body.sc .sc-hyperlinkbuttonsgroup a,
body.sc .sc-hyperlinkbuttonsgroup a:hover {
  color: #b1b1b1;
}
body.sc .sc-hyperlinkbuttonsgroup li {
  height: 48px;
}
body.sc .sc-hyperlinkbuttonsgroup li a.sc-hyperlinkbutton {
  padding: 14px 0 14px 20px;
}
body.sc .sc-hyperlinkbuttonsgroup li[sc-selected] {
  background: #f1eff0;
  box-shadow: inset 5px 0 0 0 #f79635;
}
body.sc .sc-hyperlinkbuttonsgroup li[sc-selected] a.sc-hyperlinkbutton {
  box-shadow: 0 0 0 1px #d5d3d4;
  color: #f79635;
  cursor: default;
}
body.sc .sc-hyperlinkbuttonsgroup li[sc-selected]:hover {
  text-decoration: none;
}
body.sc .sc-advancedExpander[data-sc-iscollapsible=False] .sc-advancedExpander-header-actionbar {
  padding-right: 10px !important;
}
body.sc .sc-advancedExpander .sc-advancedExpander-header a span.sc-advancedExpander-header-chevron-glyph,
body.sc .sc-advancedExpander.open .sc-advancedExpander-header a span.sc-advancedExpander-header-chevron-glyph {
  background: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #666666;
  border-bottom: 0 solid #666666;
}
body.sc .sc-advancedExpander .sc-advancedExpander-header a span.sc-advancedExpander-header-chevron-glyph.sc-advancedExpander2-header-chevron-glyph-open,
body.sc .sc-advancedExpander.open .sc-advancedExpander-header a span.sc-advancedExpander-header-chevron-glyph.sc-advancedExpander2-header-chevron-glyph-open {
  border-bottom: 8px solid #666666;
  border-top: 0 solid #666666;
}
body.sc .sc-advancedExpander .sc-advancedExpander-header > table,
body.sc .sc-advancedExpander.open .sc-advancedExpander-header > table {
  background: none;
}
body.sc .sc-advancedExpander .sc-advancedExpander-header > table .sc-advancedExpander-header-title,
body.sc .sc-advancedExpander.open .sc-advancedExpander-header > table .sc-advancedExpander-header-title {
  color: #f79635;
  font-weight: 400;
  font-size: 18px;
}
body.sc .sc-advancedExpander .sc-advancedExpander-header {
  border-left: none;
  padding-left: 5px;
  line-height: 60px;
  background: #ffffff;
}
body.sc .sc-advancedExpander .sc-advancedExpander-header .btn.btn-default.mainButton {
  border: 1px solid #cacaca;
}
body.sc .sc-advancedExpander .sc-advancedExpander-header .btn-group > .btn {
  border: 1px solid #cacaca !important;
  height: 32px;
}
body.sc .sc-advancedExpander .sc-advancedExpander-body {
  border-top: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  background: #ffffff;
  border-bottom: #ffffff;
}
body.sc .sc-advancedExpander .sc-advancedExpander-body .sc-listcontrol-body table.sc-table tr td:first-child {
  border-left: none;
}
body.sc .sc-advancedExpander .sc-advancedExpander-body .sc-listcontrol-body table.sc-table tr td:last-child {
  border-right: none;
}
body.sc .sc-advancedExpander .sc-advancedExpander-body .sc-listcontrol-body table.sc-table tr:last-child td {
  border-bottom: none;
}
body.sc .sc-advancedExpander .sc-advancedExpander-footer {
  background: #f7f7f7;
  text-align: center;
  padding: 10px 0;
  font-size: 1.3em;
}
body.sc .sc-actioncontrol {
  height: 18px !important;
}
body.sc .sc-actioncontrol .dropdown-text {
  line-height: 27px;
  padding-right: 16px;
}
body.sc .sc-actioncontrol .btn.noText {
  min-width: 39px;
  padding: 6px 8px;
  border: 1px solid #cacaca;
  margin: 0;
  box-shadow: #fbfbfb 0 1px 0 0 inset, #e1dfdf 0 1px 1px 0;
}
body.sc .sc-actioncontrol .btn.noText .sc-dropdownbutton-toggler {
  right: 14px;
}
body.sc .sc-actioncontrol .btn.no-text {
  height: 32px;
  padding: 5px 10px;
  float: left;
  margin-left: -1px;
}
body.sc .sc-actioncontrol ul.nav .sc-dropdownbutton-toggler {
  right: 12px;
  margin-top: -2px;
}
body.sc .sc-actioncontrol ul.nav .icon-group .mainButton.noText .sc-icon {
  margin-left: 1px;
  margin-right: 0;
}
body.sc .sc-actioncontrol ul.nav .icon-group .btn.no-text {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body.sc .sc-actioncontrol ul.nav .icon-group .btn.no-text:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
body.sc .sc-actioncontrol ul.nav .icon-group .btn.no-text:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
body.sc .sc-actioncontrol ul.nav .icon-group .btn.no-text:hover {
  opacity: 1;
}
body.sc .sc-actioncontrol ul.nav .sc-dropdownbutton-chevron {
  border: none;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/DropDownButton/arrows.png') no-repeat 0 0;
  width: 10px;
  height: 6px;
}
body.sc .sc-actioncontrol ul.nav .sc-dropdownbutton-chevron.up {
  background-position: 0 -6px;
}
body.sc .sc-actioncontrol ul.nav .sc-foldout.dropdown-menu.open:after,
body.sc .sc-actioncontrol ul.nav .sc-foldout.dropdown-menu.open:before {
  bottom: 100%;
  right: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
body.sc .sc-actioncontrol ul.nav .sc-foldout.dropdown-menu.open:after {
  border-bottom-color: #ffffff;
  border-width: 6px;
  margin-left: -6px;
  right: 14px;
}
body.sc .sc-actioncontrol ul.nav .sc-foldout.dropdown-menu.open:before {
  border-bottom-color: #dcdadb;
  border-width: 7px;
  margin-left: -7px;
}
body.sc .sc-globalHeader {
  height: 60px;
  line-height: 60px;
}
body.sc .sc-globalHeader .sc-global-logo.medium {
  margin-top: 12px;
}
body.sc .sc-breadcrumb > ul > li {
  color: #b8b8b8;
  font-size: 14px;
}
body.sc .sc-breadcrumb > ul > li a {
  color: #b8b8b8;
}
body.sc .sc-breadcrumb > ul > li::first-child {
  text-transform: none;
}
body.sc .sc-navigation-menu {
  top: 60px;
  margin-left: 20px;
  margin-top: 20px;
  width: 270px;
  box-shadow: inset -1px 0 0 0 #e3e1e2;
}
body.sc .sc-accountInformation {
  font-size: 14px;
}
body.sc .sc-accountInformation .logout {
  color: #f9c48e;
}
body.sc .sc-accountInformation li {
  color: #f68a1e;
}
body.sc .sc-accountInformation li img {
  display: none;
}
body.sc .sc-accountInformation li:after {
  padding: 0 10px 0 12px;
}
body.sc .sc-menu {
  border-top: 1px solid #dddddd;
  padding-top: 15px;
}
body.sc .sc-menu .menuroot {
  border: none;
  background: none;
  width: 269px;
}
body.sc .sc-menu .menuroot .itemRow.menuItem {
  width: 270px;
}
body.sc .sc-menu .menuroot .itemRow.menuItem a {
  color: #f79635;
}
body.sc .sc-menu .menuroot .itemRow.menuItem.selected {
  background: #f8f8f8;
}
body.sc .sc-menu .menuroot .itemRow.menuItem.selected a {
  color: #f79635;
  cursor: default;
}
body.sc .sc-menu .menuroot .itemRow.menuItem.selected a:hover {
  text-decoration: none;
}
body.sc .sc-menu .menuroot .header {
  background: #ffffff;
}
body.sc .sc-menu .menuroot .header.rootItem a {
  color: #f79635;
}
body.sc .sc-menu .menuroot .header.rootItem.selected {
  background: #ffffff;
  box-shadow: inset 5px 0 0 0px #f79635, inset 2px 0 0 1px #fcdbba;
}
body.sc .sc-menu .menuroot .header.rootItem.selected a {
  color: #f79635;
  cursor: default;
}
body.sc .sc-menu .menuroot .header.rootItem.selected a:hover {
  text-decoration: none;
}
body.sc .sc-menu .menuroot .header.menuItem a {
  color: #f79635;
}
body.sc .sc-menu .menuroot .header.highlighted {
  background: none;
}
body.sc .sc-menu .menuroot .menuchevron {
  background: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #f68a1e;
  border-bottom: 0 solid #f68a1e;
  content: "";
  top: -21px;
  left: 240px;
}
body.sc .sc-menu .menuroot .open .menuchevron {
  border-bottom: 6px solid #f68a1e;
  border-top: 0 solid #f68a1e;
  top: -43px;
}
body.sc .popover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #d4d4d4;
}
body.sc .popover.right > .arrow {
  border-right-color: #d4d4d4;
}
body.sc .modal .sc-dialogWindow-header {
  background: #f79635;
}
body.sc .modal .sc-dialogWindow-header .sc-dialogWindow-header-title {
  font-size: 1.75em;
}
body.sc .modal .sc-dialogWindow-header a.sc-dialogWindow-close {
  top: 34px;
}
body.sc .modal .sc-dialogWindow-header a.sc-dialogWindow-close:before {
  top: -26px;
}
body.sc .modal .sc-dialogWindow-body {
  background: #f1eff0;
}
body.sc .modal .sc-dialogWindow-buttons {
  background: #f7f7f7;
  border-top: 1px solid #c5c5c5;
}
body.sc .sc-uploader-content .btn.btn-default {
  line-height: 27px;
}
body.sc .sc-tabcontrol.subTab > .nav-tabs {
  border: none;
  background: none;
}
body.sc .sc-tabcontrol > .nav-tabs {
  border-bottom: none;
}
body.sc .sc-tabcontrol > .nav-tabs > li.active > a {
  border: none !important;
}
body.sc .sc-tabcontrol > .nav-tabs > li > a {
  height: 39px;
  line-height: 17px;
  text-transform: none;
  color: #666666;
  text-shadow: 0 1px 0 #f1f1f1;
  font-size: 14px;
  border: none;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/tab_gray_background.png') repeat-x left top;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li:before,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li:before {
  content: "";
  top: 0;
  z-index: 10;
  width: 16px;
  display: block;
  position: absolute;
  left: 0;
  height: 39px;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li:first-child:before,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li:first-child:before {
  display: none;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.first-visible-nav-tab:before,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.first-visible-nav-tab:before {
  display: none;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li > a,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li > a {
  padding-left: 30px;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li > a:before,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li > a:before {
  display: none;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li > a:hover,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li > a:hover {
  text-decoration: none;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li > a:hover:after,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li > a:hover:after {
  display: none;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.active-first-sibling:before,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.active-first-sibling:before {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.active:before,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.active:before {
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/arrow_gray.png') no-repeat left top;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.active > a,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.active > a {
  color: #111111;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.first-visible-nav-tab a,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.first-visible-nav-tab a {
  padding-left: 15px;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.first-visible-nav-tab a:before,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.first-visible-nav-tab a:before {
  display: none;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.first-visible-nav-tab:after,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.first-visible-nav-tab:after,
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.last-visible-nav-tab:after,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.last-visible-nav-tab:after,
body.sc .sc-tabcontrol.progressive > .nav-tabs > li:first-child:after,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li:first-child:after {
  width: 3px;
  height: 39px;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/corner.png') no-repeat left top;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.first-visible-nav-tab a,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.first-visible-nav-tab a,
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.last-visible-nav-tab a,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.last-visible-nav-tab a,
body.sc .sc-tabcontrol.progressive > .nav-tabs > li:first-child a,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li:first-child a {
  border: none;
  margin-left: 3px;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.last-visible-nav-tab:after,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.last-visible-nav-tab:after {
  left: auto;
  right: -3px;
  background: url('/sitecore/shell/client/Speak/Assets/img/Speak/TabControl/corner.png') no-repeat right top;
}
body.sc .sc-tabcontrol.progressive > .nav-tabs > li.last-visible-nav-tab a,
body.sc .sc-tabcontrol.tabbable > .nav-tabs > li.last-visible-nav-tab a {
  margin-left: 0;
}
body.sc .sc-global-logo {
  background-image: url('/sitecore/shell/client/Speak/Assets/img/Speak/GlobalLogo/global_logo-orange.png');
}
body.sc .sc-progressindicator-inner {
  background-image: url("/sitecore/shell/client/Speak/Assets/img/Speak/ProgressIndicator/sc-spinner32-orange.gif");
}
/* ------------------------------------------------------------- */
.sc-navigation-content {
  padding-left: 310px;
  padding-right: 20px;
}
.sc-navigation-content .sc-applicationContent-main {
  padding: 0;
}
.sc-navigation-content .sc-applicationContent-main > .sc-border.sc-show-padding {
  padding: 15px 0;
}
.sc-applicationContent-main,
.sc-applicationContent-info {
  background: #f1eff0;
}
.sc-applicationContent {
  padding: 0 20px;
  background: #f1eff0;
}
.sc-applicationContent .sc-navigation-menu {
  margin-left: 0 !important;
}
.sc-applicationContent .sc-navigation-content {
  padding-right: 0;
  padding-left: 290px;
}
.sc-applicationContent .sc-applicationContent-info {
  color: #676566;
}
.sc-applicationContent .sc-applicationContent-info label,
.sc-applicationContent .sc-applicationContent-info .sc-text {
  font-weight: 400;
  color: #676566;
  font-size: 14px;
}
.sc-applicationContent-navigation {
  background: #ffffff;
}
.sc-applicationContent-navigation.sc-navigation-menu .btn.sc-button.lg {
  width: 220px !important;
  margin-left: 25px;
  margin-right: 25px;
}
.sc-applicationHeader {
  padding-top: 80px;
  background: none;
}
.sc-applicationHeader .sc-applicationHeader-row1 {
  background: none;
  height: 92px;
  border-left: 1px solid #eae8e9;
  border-right: 1px solid #eae8e9;
}
.sc-applicationHeader .sc-applicationHeader-row1 .sc-applicationHeader-content {
  background: #ffffff;
  height: 61px;
  border-bottom: 1px solid #dddddd;
}
.sc-applicationHeader .sc-applicationHeader-row1 .sc-applicationHeader-content .sc-applicationHeader-title span.sc-text {
  font-size: 21px;
  font-weight: 400;
}
.sc-applicationHeader .sc-applicationHeader-row1 .sc-applicationHeader-content.breadcrumb {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 32px;
  padding: 5px 15px;
}
.sc-applicationHeader .sc-applicationHeader-row1:after {
  display: none;
}
.sc-applicationHeader .sc-applicationHeader-row2 {
  background: #f7f7f7;
  border-left: 1px solid #eae8e9;
  border-right: 1px solid #eae8e9;
  border-bottom: 1px solid #dcdadb;
  box-shadow: #eae8e9 0 1px 0 0;
}
.sc-applicationHeader .sc-applicationHeader-actions {
  padding-top: 5px;
}
.sc-applicationHeader .sc-applicationHeader-back {
  padding-top: 3px;
}
.sc-globalHeader {
  background: #ffffff;
  border-bottom: 1px solid #d5d3d4;
}
.sc-globalHeader .sc-global-logo.medium {
  margin-top: 7px;
}
body {
  background: #f1eff0;
}
/* Select Media Dialog Layout */
.sc-dialogHeader {
  background: #ffffff;
  border-bottom: 1px solid #d5d3d4;
  height: 79px;
}
.sc-dialogHeader .sc-dialogHeader-title {
  padding-top: 5px;
}
.sc-dialogHeader .sc-dialogHeader-actions {
  top: 8px;
  text-align: right;
  width: 30%;
  right: 40px;
}
.sc-dialogHeader .sc-dialogHeader-actions button {
  margin-left: 7px;
}
.sc-dialogHeader .sc-dialogHeader-content {
  padding-left: 30px;
}
.sc-dialogContent {
  margin-top: 80px;
  margin-bottom: 0;
}
.sc-dialogContent .sc-dialogContent-navigation {
  background: #ffffff;
  box-shadow: inset -1px 0 0 0 #e3e1e2;
  margin-top: 40px !important;
}
.sc-dialogContent .sc-dialogContent-navigation a.sc-iconhyperlinkbutton.icon {
  padding-left: 0;
  color: #f68a1e;
  font-size: 15px;
  line-height: 20px;
  text-decoration: underline;
}
.sc-dialogContent .sc-dialogContent-navigation a.sc-iconhyperlinkbutton.icon:hover {
  color: #f68a1e;
}
.sc-dialogContent .sc-dialogContent-navigation a.sc-iconhyperlinkbutton .sc-icon {
  width: 20px;
  height: 20px;
  left: 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-dialogContent-link {
  padding: 15px 15px 15px 20px;
  border-bottom: 1px solid #dddddd;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup .sc-hyperlinkbutton {
  position: relative;
  padding-left: 48px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup .sc-hyperlinkbutton:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 20px;
  left: 21px;
  top: 16px;
  background: url("/sitecore/shell/client/Speak/Assets/img/sc-sprite-orange.png") no-repeat 0 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(1) a:before {
  background-position: -24px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(1)[sc-selected=true] a:before {
  background-position: -24px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(2) a:before {
  background-position: -48px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(2)[sc-selected=true] a:before {
  background-position: -48px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(3) a:before {
  background-position: -72px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(3)[sc-selected=true] a:before {
  background-position: -72px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(4) a:before {
  background-position: -96px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(4)[sc-selected=true] a:before {
  background-position: -96px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(5) a:before {
  background-position: -120px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(5)[sc-selected=true] a:before {
  background-position: -120px -20px;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(6) a:before {
  background-position: -144px 0;
}
.sc-dialogContent .sc-dialogContent-navigation .sc-hyperlinkbuttonsgroup ul li:nth-child(6)[sc-selected=true] a:before {
  background-position: -144px -20px;
}
.sc-dialogContent .sc-navigation-menu {
  top: 100px;
  width: 270px;
  margin-left: 20px;
}
.sc-dialogContent .sc-navigation-content {
  padding-left: 310px;
  padding-right: 20px;
  padding-top: 20px;
}
.sc-dialogContent .sc-dialogContent-toolbar {
  border-bottom: 1px solid #d5d3d4;
  background: #ffffff;
  padding: 12px 40px;
}
.sc-dialogContent .sc-dialogContent-toolbar .sc-dialogContent-toolbar-actions {
  width: 100%;
}
.sc-dialogContent .sc-dialogContent-main {
  background: #ffffff;
  position: relative;
  padding: 15px 40px;
}
.sc-dialogContent .sc-dialogContent-main .sc-messageBar {
  margin-top: 10px;
}
.sc-dialogContent .sc-dialogContent-main .sc-filtercontrol {
  position: absolute;
  background: #ffffff;
  z-index: 11;
  width: 100%;
  left: 0;
  top: -1px;
}
.sc-dialogContent .sc-dialogContent-main .sc-listcontrol {
  margin-right: -40px;
}
.sc-dialogContent .sc-dialogContent-main .row .col-md-4.text-right .sc-togglebutton {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .sc-navigation-content {
    padding-left: 20px !important;
  }
  .sc-navigation-wrapper.active .sc-navigation-menu {
    z-index: 1000 !important;
  }
}
/* ---------------------------  DIALOG  ------------------------------ */
body.sc .sc-search-filters {
  margin-top: -2px;
}
body.sc .sc-smartpanel {
  top: 78px !important;
}
body.sc .sc-smartpanel .sc-smartpanel-header {
  background: #f79635 url('/sitecore/shell/client/Speak/Assets/img/Speak/SmartPanel/header_icon.png') no-repeat 25px 50%;
  padding-right: 60px;
  padding-left: 68px;
}
body.sc .sc-smartpanel .sc-smartpanel-header .sc-text.sc-text-title {
  font-weight: 100;
  font-size: 16px;
}
body.sc .sc-smartpanel .sc-smartpanel-content {
  padding-top: 35px;
}
body.sc .sc-smartpanel .sc-smartpanel-content .sc-text {
  line-height: 19px;
}
body.sc .sc-search-searches {
  position: relative;
}
.sc-dialogContent-title {
  display: none;
}
.sc .sc-navigation-menu .btn.sc-button.lg[data-sc-id=UploadButton] {
  width: 240px !important;
}
/* ------------------------  LIST MANAGER  --------------------------- */
body.sc .sc-createlist-option {
  margin-top: 10px;
  margin-bottom: 10px;
}
body.sc .sc-createlist-option .name {
  color: #666666;
  font-weight: 400;
  font-size: 125%;
}
body.sc .sc-createlist-option .description {
  color: #b1b1b1;
  font-size: 115%;
}
body.sc .sc-popover .sc-text {
  color: #b1b1b1;
  font-weight: 400;
  font-size: 125%;
  line-height: 120%;
}
body.sc .sc-popover a.sc-hyperlinkbutton {
  color: #b1b1b1;
  font-size: 125%;
  font-weight: 400;
}
body.sc .sc-popover .sc-text.sc-text-largelabel,
body.sc .sc-popover .sc-text.sc-text-largetitle {
  font-size: 175%;
  font-weight: 100;
  color: #f79635 !important;
}
body.sc .sc-ListPath {
  height: 35px !important;
}
body.sc .sc-ListPath > ul > li a {
  color: #f79635;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px dotted #f79635;
  line-height: 16px;
}
body.sc .sc-ListPath > ul > li a:hover {
  text-decoration: none;
  border-bottom: none;
}
body.sc .sc-ListPath > ul > li:first-child > a {
  text-transform: none;
}
/* hacks */
.modal div.sc-border[data-sc-id=ShowMoreBorder] {
  padding-top: 15px;
  height: 105px !important;
}
.sc-advancedExpander-body .sc-ListPath {
  padding: 0 15px;
}
.sc-advancedExpander-body div.sc-border[data-sc-id=ShowMoreBorder],
.sc-advancedExpander-body div.sc-border[data-sc-id=ContactsShowMoreBorder] {
  padding: 15px;
  text-align: center !important;
}
body.sc .input-group.sc-buttontextbox .input-group-btn button img {
  display: none;
}
body.sc .input-group.sc-buttontextbox .input-group-btn button:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/Common/16x16/dark_gray/arrow-right.png") no-repeat left top;
  right: 0;
  top: 9px;
}
.sc-advancedExpander {
  margin-top: 30px;
}
.popover div.sc-border[data-sc-id=CreateBorder] {
  width: 800px !important;
}
.popover div.sc-border[data-sc-id=CreateBorder] .col-md-3 {
  width: 16% !important;
}
.popover div.sc-border[data-sc-id=CreateBorder] .col-md-9 {
  width: 80% !important;
}
.sc .sc-menu .menuroot > div > div > :first-child {
  position: relative;
}
.sc .sc-menu .menuroot > div > div > :first-child .menuicon {
  opacity: 0;
}
.sc .sc-menu .menuroot > div > div > :first-child:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 22px;
  top: 13px;
  opacity: 0.55;
  background: url("/sitecore/shell/client/Speak/Assets/img/sc-sprite.png") no-repeat -102px -341px;
}
.sc .sc-menu .menuroot > div > div:nth-child(2) > :first-child:before {
  background-position: -152px -136px;
}
.sc .sc-menu .menuroot > div > div:nth-child(3) > :first-child:before {
  background-position: -102px -358px;
}
.sc .sc-menu .menuroot > div > div:nth-child(4) > :first-child:before {
  background-position: -102px -375px;
}
.sc .sc-menu .menuroot > div > div:nth-child(5) > :first-child:before {
  background-position: -119px -357px;
}
div[data-sc-id=GeneralInformationDestinationTextBox] .btn.btn-default {
  font-size: 0;
}
div[data-sc-id=GeneralInformationAcordion] {
  margin-top: 10px !important;
}
div[data-sc-id=ListSourceAccordion],
div[data-sc-id=ContactsAccordion] {
  margin-top: 0 !important;
}
hr[data-sc-id=InfoSpotCreatedSeparator] {
  opacity: 0;
  filter: alpha(opacity=0);
}
.sc-listcontrol .sc-table tbody tr td img {
  margin-top: -5px;
}
body.sc .sc-listcontrol[data-sc-id=VisitorsList] .sc-table tbody tr td a {
  border: none;
}
.sc-listcontrol .sc-table tbody tr td img {
  display: none;
}
.sc-dialogContent-link a[data-sc-id=UploadButton] .sc-icon {
  background-image: url('/sitecore/shell/client/Speak/Assets/img/sc-sprite-orange.png') !important;
}
/* experience profile */
body.sc .sc-tabcontrol > .nav-tabs > li > a,
body.sc .sc-tabcontrol > .nav-pills > li > a {
  padding-left: 30px !important;
  padding-right: 15px !important;
}
.sc-ChartComposites [data-sc-id$="ActionControl"] .btn-default {
  border: 1px solid #cacaca !important;
  height: 30px !important;
  border-radius: 4px !important;
}
.sc-ChartComposites .sc-advancedExpander-header {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
