<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>

      <speak.client.getPageStylesheets>
        <processor type="Sitecore.Speak.Theming.Web.Pipelines.GetPageStylesheets.ResolveAltThemes, Sitecore.Speak.Theming" patch:before="processor[@type='Sitecore.Web.Pipelines.GetPageStylesheets.GetSubthemes, Sitecore.Speak.Client']"/>
      </speak.client.getPageStylesheets>



    </pipelines>

  </sitecore>
</configuration>